<!DOCTYPE html>
<html>
    <head>
        <title>Deatails</title>
        <%- include('../../layout/head') %>
    </head>
    <body>
        <header>
            <%- include('../../layout/header') %>
        </header>
        <main>
            <%- include('detail.ejs') %>
        </main>
        <footer></footer>
    </body>
</html>