<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./styles/reset.css"/>
    <link rel="stylesheet" href="./styles/base.css"/>
    <link rel="stylesheet" href="./styles/layout.css"/>
    <link rel="stylesheet" href="./styles/module.css"/>
</head>
<body>
    <header>
        <div id='Header'>
            <h1>
                BEST BOOKS!
            </h1>
            <div>
                <nav>
                    <a href="/">Home</a>
                    <a href="/searches/new">Search the google API</a>
                </nav>
            </div>
        </div>
    </header>
    <main>
        <div id="bookshelf">
            <h2><%=books.rowCount %> SAVED BOOKS</h2>
            <% books.rows.forEach(val=>{ %>
            <div>
                <h4><%= val.title%></h4>
                <p><%= val.author%></p>
                <div id="buttonHolder">
                    <a href="/books/<%=val.id%>"><button >View More</button></a>
                </div>
            </div>
            <% }) %>
        </div>
    </main>
    <footer></footer>
</body>
</html>


<!-- Need to added homepage, with link to search. will keep same style as the other pages -->