<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./styles/reset.css"/>
    <link rel="stylesheet" href="./styles/base.css"/>
    <link rel="stylesheet" href="./styles/layout.css"/>
    <link rel="stylesheet" href="./styles/module.css"/>
</head>
<body>
    <h2><a href="/searches/new">Hello World</a></h2>
    <p>This is the test page. Move along. Nothing to see here.</p>
</body>
</html>


<!-- Need to added homepage, with link to search. will keep same style as the other pages -->