<div id='headerContainer'>
    <h1>
        BEST BOOKS!
    </h1>
    <div>
        <nav>
            <a href="/">Home</a>
            <a href="/searches/new">Search the google API</a>
        </nav>
    </div>
</div>