<div id='headerContainer'>
    <h1>
        BEST BOOKS!
    </h1>

    <nav role="navigation">
        <div id="menuToggle">
            <input type="checkbox"/>
            <span></span>
            <span></span>
            <span></span>
            <ul id="menu">
            <a href="/"><li>Home</li></a>
            <a href="/searches/new"><li> the google API</li></a>
            </ul>
        </div>
    </nav>

</div>